<br/>
<h2 class="bp-header__present" style="font-size: 1.1rem;" >Learn</h2>
	<p class="bp-header__desc">
		&mdash; edX <a href="https://s3.amazonaws.com/verify.edx.org/downloads/92f987fed247417b90685bc3978024ea/Certificate.pdf" target="_blank">Honor Code Certificate for Introduction to Linux</a><br/>
		&mdash; Udemy <a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-1XT0GCST.pdf" target="_blank">How to do High Conversion of Lead Page from scratch</a><br/>
		&mdash; Udemy <a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-5TORP15Z.pdf" target="_blank">Mobile App Design: From Sketches to Interactive Prototypes</a><br/>
		&mdash; Udemy <a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-4FQ8DSTF.pdf" target="_blank">Beginner Photoshop to HTML5 and CSS3</a><br/>
		&mdash; Linux Academy <a href="https://linuxacademy.com/profile/u/cert/id/86102" target="_blank">Introduction to the Linux Academy</a><br/>
		
	</p>
