<!DOCTYPE HTML>
<html lang="en" class="no-js">
	{% include head.html %} 
	<body>
	<div class="container-wrap">
<!-- navigation -->
<nav class="pages-nav">
		<div class="pages-nav__item"><a class="link link--page" href="#page-home">Who Am I</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="https://blog.diansadulloh.com">Blog</a></div>
		<div class="pages-nav__item pages-nav__item--small"><a class="link link--page link--faded" href="#projects">Projects</a></div>
		<div class="pages-nav__item pages-nav__item--small"><a class="link link--page link--faded" href="#contact">Contact</a></div>
	</nav>
	<!-- /navigation-->
	<!-- pages stack -->
	<div class="pages-stack">
		<!-- page -->
		<div class="page" id="page-home">
				<header class="bp-header cf">
						<span class="bp-header__present">I am <!--<span class="bp-tooltip bp-icon bp-icon--about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span>--></span>
						<h1 class="bp-header__title">{{site.title}}</h1>
						<p class="bp-header__desc">hi and welcome to my <a href="/">internet home.</a></p>
							<a href="{{site.github_url}}"><i class="icon-github"></i></a>
							<a href="{{site.linkedin_url}}"><i class="icon-linkedin2"></i></a>
							<a href="{{site.facebook_url}}"><i class="icon-facebook22"></i></a>
				</header>
				<div class="bp-header cf" style="margin-top: -3rem;">
					<h2 class="bp-header__present" style="font-size: 1.1rem;" >Who Am I</h2>
					<p class="bp-header__desc">
						I am front-end web developer based on Demak, Indonesia.<br/>
						I have passion for web development and love to create it.
					</p>
					{% include certificate.html %}
				</div>
				<img class="poster" src="/assets/img/125503.png" alt="img06" />
		</div>
		<!-- /page -->
		<div class="page" id="projects">
			<!-- page projects content -->
			{% include projects.html %}
		</div>
		<div class="page" id="contact">
			<!-- page content -->
			{% include contact.html %}
		</div>
	</div><!-- /pages-stack -->
	<button class="menu-button"><span>Menu</span></button>
	</div> <!--container-->
	</body>
	{% include footer.html %}
</html>
