<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <nav class="nav">
            <div class="nav-left">
              <a class="brand bp-header__title" href="/">{{site.title}}</a>
              <div class="tabs">
              <a href="/blog" class="active">Blog</a>
              <a href="/">Projects</a>
              </div>
            </div>
            <div class="nav-right">
                
              </div>
          </nav>       
    <div class="container">
      <div class="row">
        <div class="col-8">
              <h1 class="bp-header__title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
              <p class="bp-header__desc">{{ content }}</p>
        </div>
        <div class="col-4">
            <div class="sidebarx">
                {% include sidebar.html %}
            </div>
        </div>
      </div>
    </div>
    </body>
</html>
